<form class="form" [formGroup]="formemail">
    <p>Register</p>
    <div class="name">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Name" formControlName="name" />
        @if (viewErrorMessage('name') !== '') {
        <span class="errorMessage">{{viewErrorMessage('name')}}</span>
        }
    </div>
    <div class="email">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email" formControlName="email" />
        @if (formemail.get('email')?.touched) {
        <span class="errorMessage">{{viewErrorMessage('email')}}</span>
        }
    </div>
    <button type="submit" (click)="step2()">Continue</button>
</form>