/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  content: "";
  background-image: url("assets/blur-radial.svg"), url("assets/blur-radial.svg");
  background-color: #121826;
  background-position: top -400px left -300px, bottom -400px right -300px;
  background-repeat: no-repeat;

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}
app-root {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
